.logo {
   height: 20px;
   width: 20px;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   border: 1px solid black;
   text-align: center;
   background-color: #fff;
   border-radius: 5px;
}